<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Super Dublin World Google Map</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 
  <link href="{{ url_for('static', filename='map.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
  
  <h1>Lets'a go to Super Dublin World!!!</h1>

  <div id="map"></div>

  <script type="text/javascript" src="{{ url_for('static', filename='js.js') }}"></script>

  <!-- Replace API_KEY and MAP_ID with your own ones -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPFUKh9yhgAoe5r0bcJ2CXyLZM2MBKMVU&map_ids=c977067f443727f6&callback=initMap">

    //api key: AIzaSyAPFUKh9yhgAoe5r0bcJ2CXyLZM2MBKMVU
    //c977067f443727f6
</script>
</body>
</html>